name: Test Workflow

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Run tests
      run: echo "Running tests..."
    
    - name: Save test key
      uses: actions/cache/save@v3
      with:
        path: /bin/ls
        key: test
